/* Responsive */
@media only screen and (max-width: 1170px){
    .content-center{width: 80%;}
    
    /*menu*/
    .header__icon{
		position: relative;
		display: inline-block;
		width: 40px;
		height: 40px;
		
		cursor: pointer;
	}
		
	.header__icon:after{
	  content: '';
      position: absolute;
      display: block;
      width: 1rem;
      height: 0;
      top: 15px;
      left: 10px;
      box-shadow: 0 10px 0 1px #00e4fd, 0 16px 0 1px #00e4fd, 0 22px 0 1px #00e4fd; 
	}
    
    #menu{display:none;}
    #menu-mobile{display:block;}
    
    #menu-mobile .menu-resp{
		
		position: absolute;
		display: none;
		left: 0;
		bottom: auto;
		width: 100%;
		float: none !important;
	}
	#menu-mobile .menu-resp ul li{ display: block; }
	
	#menu-mobile .menu-resp ul li a{
		text-align: center;
		display: block;
		background-color: rgba(4,4,4,0.6);
		border-bottom: 1px solid #000;
		border-right: 1px solid #000;
	}
    
    #menu-m{ top: 60px; border-top: solid; border-color: #000; border-width: 1px;}
    
    #menu-m li{width:100%;}
	
	#menu-mobile .menu-resp.width--sidebar{ display: block; }
    
    .dlt{display:none;}
    
    /* expérience */
    
        
    /* Contact */
    .name{
        width:100% !important;
    }
    .email{
        width:100% !important;
    }
    .message{
        width:100% !important;
    }
	
}